<div id="files" class="col-md-10">
    <div class="acciones">
        <a href="#"><i class="fa  fa-share-alt fa-lg derecha accion"></i></a>
        <a href="#"><i class="fa fa-download fa-lg derecha accion"></i></a>
        <a href="#"><i class="fa fa-trash-o fa-lg derecha accion"></i></a>
        <a href="#"><i class="fa fa-pencil-square-o fa-lg derecha accion"></i></a>
        <a href="#"><i class="fa fa-plus fa-lg derecha accion"></i></a>
    </div>
    <div class="archivos">{{# archivos}}
        <div class="archivo col-md-2">
            <center>
                <i class="fa fa-file fa-3x"></i>
                <br/>
                <div class="datos">
                    <span>{{Descripcion}}</span>
                    <br/>
                    <span>Creado en: {{FechaCreacion}}</span>
                </div>
            </center>
        </div>{{/ archivos}}</div>
</div>
    <!--<div class="acciones">
<button class="secondary-button pure-button">Descargar</button>
<button class="secondary-button pure-button">Compartir</button>
<button class="secondary-button pure-button">Eliminar</button>
</div>-->