     <div id="direct" class="col-md-3">
        {{# carpetas}}
        <!--<h2>Carpeta</h2>-->
        <div class="email-item pure-g">
            <div class="pure-u">
                <img class="email-avatar" alt="Yahoo! News&#x27; avatar" height="64" width="64" src="../../img/common/carpeta.png">
            </div>

            <div class="pure-u-3-4">
                <!--<h5 class="email-name">{{username}}</h5>
                <h4 class="email-subject">{{subject}}</h4>-->
                <a href="/PHPDocumentos/Carpeta/{{IdCarpeta}}">{{Descripcion}}</a>
            </div>
        </div>
        
        {{/ carpetas}}
    </div>