    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <button class="primary-button pure-button">Compose</button>

            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="index.php/MiUnidad/" class="pure-menu-link">Mi Unidad</a></li>
                    <li class="pure-menu-item"><a href="index.php/Compartido/" class="pure-menu-link">Compartido</a></li>
                </ul>
            </div>
        </div>
    </div>