    <div id="main" class="pure-u-1">
		{{# archivos}}
        <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">{{subject}}</h1>
                    <p class="email-content-subtitle">
                        From <a>{{Descripcion}}</a> at <span>{{IdCarpeta}}, {{FechaCreacion}}</span>
                    </p>
                </div>

                <div class="email-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button">Reply</button>
                    <button class="secondary-button pure-button">Forward</button>
                    <button class="secondary-button pure-button">Move to</button>
                </div>
            </div>

            <div class="email-content-body">
              {{body}}
            </div>
        </div>
		{{/ archivos}}
    </div>