<div class="modal fade bs-example-modal-delete" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="header">
				<h2>Eilimar Carpeta </h2>
			</div>
			 <p>Confirmar que desea eliminar la carpeta</p>
			 <div class="cf footer">
				    <a href="/PHPDocumentos/MiUnidad/"><button type="cancel" class="pure-button pure-button-secondary">Cancel</button></a>
				    <a href="/PHPDocumentos/AddCarpeta/"><button type="submit" style="float:right;" class="pure-button pure-button-primary">Eliminar</button></a>
			 </div>
		</div>
		<div class="overlay"></div>
    </div>
  </div>
</div>