    <div id="listG" class="pure-u-1">
        

        {{# integrantes}}
        <h2>Integrante</h2>
        <div class="email-item pure-g">
            <div class="pure-u">
                <img class="email-avatar" alt="Yahoo! News&#x27; avatar" height="64" width="64" src="../../img/common/usuario.png">
            </div>

            <div class="pure-u-3-4">
                <!--<h5 class="email-name">{{username}}</h5>
                <h4 class="email-subject">{{subject}}</h4>-->
                <a class="email-desc" href="/integrante/{{IdUsuario}}">{{NombreUsuario}}</a>
            </div>
        </div>
        
        {{/ integrantes}}
    </div>