    <div id="list" class="pure-u-1">
		
		{{# items}}
        <div class="email-item pure-g">
            <div class="pure-u">
                <img class="email-avatar" alt="Yahoo! News&#x27; avatar" height="64" width="64" src="/email/img/common/ynews-avatar.png">
            </div>

            <div class="pure-u-3-4">
                <h5 class="email-name">{{username}}</h5>
                <h4 class="email-subject">{{subject}}</h4>
                <p class="email-desc">{{description}}</p>
            </div>
        </div>
		
		{{/ items}}
    </div>