<!--<footer class="footer">
                        <center>Todos los derechos reservados</center>
                    </footer>-->
{{> partials/agregarCarpetas }}
{{> partials/eliminarCarpetas }}
<script src="/PHPDocumentos/js/yui-min.js"></script>
<script src="/PHPDocumentos/js/jquery-2.1.3.js"></script>
<script src="/PHPDocumentos/js/bootstrap.min.js"></script>
<script>
    YUI().use('node-base', 'node-event-delegate', function (Y) {
                    
                            var menuButton = Y.one('.nav-menu-button'),
                                nav        = Y.one('#nav');
                    
                            // Setting the active class name expands the menu vertically on small screens.
                            menuButton.on('click', function (e) {
                                nav.toggleClass('active');
                            });
                    
                            // Your application code goes here...
                    
                        });

</script>
</body>

</html>